* {
    margin: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #333;
    font-size: 13px;
}

body {
    overflow-y: scroll;
}

.checkout_page_content {
    width: 79vw;
    height: 105vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkout_page_content > .main {
    width: 57%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.checkout_page_content > .main > .main_contents {
    width: 77.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_header {
    width: 100%;
    height: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left; 
    margin-top: 10%;
}

.checkout_page_content > .main > .main_contents > .main_header > .website_name {
    width: 100%;
    height: 42.5%;
}

.checkout_page_content > .main > .main_contents > .main_header > .website_name > .website_name_text {
    font-size: 2em;
    font-weight: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress {
    width: 100%;
    height: 57.5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 2%;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list > .progress_names {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list > #information_phase {
    margin-left: -7.4%;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list > #information_phase > .progress_name {
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list > .progress_names > .progress_name {
    font-size: 12px;
    height: 100%;
    cursor: default;
    color: #737373;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list > .progress_names > .next_progress_container {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.checkout_page_content > .main > .main_contents > .main_header  > .progress > .progress_list > .progress_names > .next_progress_container > .next_progress {
    font-size: 14px;
}

.checkout_page_content > .main > .main_contents > .main_content {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header > .contact_header_content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header > .contact_header_content > .contact_title {
    font-size: 18px;
    cursor: default;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header > .account_login {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: start;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header > .account_login > .log_in_account {
    font-size: 14px;
    margin-top: 4px;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header > .account_login > .log_in_account > .ask {
    cursor: default;
    color: #545454;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .contact_header > .account_login > .log_in_account > .login_btn {
    cursor: pointer;
    color: #01579B;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .email_input {
    width: 98%;
    height: 42.5px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 7.5px;
    outline: none;
    transition: border 0.3s ease;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .email_input:focus {
    border: 2px solid #01579B;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .update_the_user {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: left;
    align-items: end;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .update_the_user > .update_option {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .update_the_user > .update_option > #button_icon {
    margin-right: 3%;
    border: none;
    margin-left: -2.5%;
    border-radius: 2.5px;
    fill: rgb(221, 221, 221);
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .contact_info > .update_the_user > .update_option > .update_do {
    width: 85%;
    text-align: left;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .shipping_address_header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    bottom: 2.5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .shipping_address_header > .shipping_address_title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 5%;
    cursor: default;
}


.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .real_name_fields {
    width: 99.25%;
    height: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 4.5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .real_name_fields > .first_name,
.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .real_name_fields > .last_name {
    width: 47.5%;
    height: 42.5px;
    border-radius: 5px;
    padding-left: 7.5px;
    outline: none;
    border: 2px solid #dddddd;
    transition: border 0.3s ease;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .real_name_fields > .first_name:focus,
.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .real_name_fields > .last_name:focus {
    border: 2px solid #01579B;
}


.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .address {
    width: 96.75%;
    height: 42.5px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 7.5px;
    outline: none;
    transition: border 0.3s ease;
    position: relative;
    bottom: 5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .address:focus {
    border: 2px solid #01579B;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address {
    width: 99.25%;
    height: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address > .postcode {
    width: 30%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address > .apartment_etc_address_optional {
    width: 65%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address > .postcode,
.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address > .apartment_etc_address_optional {
    height: 42.5px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    outline: none;
    padding-left: 7.5px;
    transition: border 0.3s ease;
}


.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address > .postcode:focus,
.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .detailed_address > .apartment_etc_address_optional:focus {
    border: 2px solid #01579B;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .phone_num {
    width: 99.25%;
    height: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .phone_num > .phone_num_optional {
    width: 92%;
    height: 42.5px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 7.5px;
    outline: none;
    transition: border 0.3s ease;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .phone_num > .phone_num_optional:focus {
    border: 2px solid #01579B;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .phone_num > .why_phone_num {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .phone_num > .why_phone_num > .question_icon_bg {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #919191;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .phone_num > .why_phone_num > .question_icon_bg > .question_icon {
    font-size: 12px;
    color: #dddddd;
    font-weight: 600;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .continue_to_shipping {
    width: 100%;
    height: 17.5%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    bottom: 2.5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .continue_to_shipping > .shipping_phase_btn {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5%;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .continue_to_shipping > .shipping_phase_btn > .ship_btn {
    width: 31.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #01579B;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.checkout_page_content > .main > .main_contents > .main_content > .form_fillup > .continue_to_shipping > .shipping_phase_btn > .ship_btn:hover {
    background-color: #004172;
}

.checkout_page_content > .main > .main_contents > .main_footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 1px 0 #dddddd inset;
}

.checkout_page_content > .main > .main_contents > .main_footer > .footer_list {
    width: 55%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0 4%;
}

.checkout_page_content > .main > .main_contents > .main_footer > .footer_list > .footer_link {
    font-size: 12px;
    cursor: pointer;
    color: #e6c301;
}

.checkout_page_content > .order {
    width: 43%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0 0 #dddddd inset;
    background-color: #f5f5f5;
}

.checkout_page_content > .order > .order_contents {
    width: 77.5%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.checkout_page_content > .order > .order_contents > .ordered_products {
    width: 101%;
    min-height: 15%;
    max-height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    overflow-y: auto;
    margin-left: 2.5%;
}

.checkout_page_content > .order > .order_contents > .ordered_products::-webkit-scrollbar {
    width: 4px;
    background-color: #e6c301;
    border-radius: 30px;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products {
    width: 99%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products:nth-child(1) {
    margin-top: 20px;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products:last-child {
    margin-bottom: 20px;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .product_bg {
    width: 15%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .product_bg > .product_image {
    width: 85%;
    height: 100%;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .product_info {
    width: 65%;
    height: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .product_info > .product_details_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .product_info > .product_details_container > .product_details {
    font-size: 12px;
    cursor: default;
    color: #737373;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .product_info > .product_details_container > #product_name {
    font-size: 13px;
    font-weight: 600;
    cursor: default;
    color: #333;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .price_container {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .price_container > .product_price {
    width: auto;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.checkout_page_content > .order > .order_contents > .ordered_products > .products > .price_container > .product_price > .price {
    font-size: 14px;
    font-weight: 600;
    cursor: default;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 #dddddd inset;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10% 0;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal > .raw_price_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal > .raw_price_info > .raw_price {
    font-size: 14px;
    cursor: default;
    color: #515151;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal > .raw_price_info > #final_raw_price {
    font-weight: 600;
    color: #333;
}
   
.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal > .shipping_fee_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal > .shipping_fee_info > .shipping_fee {
    font-size: 14px;
    cursor: default;
    color: #515151;
}

.checkout_page_content > .order > .order_contents > .subtotal_calculation > .subtotal > .shipping_fee_info > #shipping_fee_price {
    font-size: 12px;
    color: #737373;
} 

.checkout_page_content > .order > .order_contents > .final_price {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 #dddddd inset;
}

.checkout_page_content > .order > .order_contents > .final_price > .outcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout_page_content > .order > .order_contents > .final_price > .outcome > .total_title {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.checkout_page_content > .order > .order_contents > .final_price > .outcome > .total_title > .total_text {
    font-size: 16px;
    cursor: default;
}

.checkout_page_content > .order > .order_contents > .final_price > .outcome > .total_price {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 2.5%;
}

.checkout_page_content > .order > .order_contents > .final_price > .outcome > .total_price > #currency {
    font-size: 12px;
    cursor: default;
    margin-top: 1%;
    color: #737373;
}

.checkout_page_content > .order > .order_contents > .final_price > .outcome > .total_price > #total {
    font-size: 24px;
    cursor: default;
}

